<div id="DeviceGrid" class="container">
  <div class="row">
    <div class="col col-3 header">
      Description
    </div>
    <div class="col col-3 header">
      Serial number
    </div>
    <div class="col col-1 header">
      Actions
    </div>
    <div class="col col-1 header">
    </div>
  </div>

  <div class="" *ngFor="let device of devices">
    <div class="row body">
      <div class="col col-3">
        <p>{{device.description}}</p>
      </div>
      <div class="col col-3">
        <p>{{device.serialNumber}}</p>
      </div>
      <div class="col col-1">
        <button type="button" name="button" routerLink="/devices/{{device.id}}">See more</button>
      </div>
      <div class="col col-1">
        <button type="button" name="button" (click)="deleteDevice(device.id)">Delete</button>
      </div>
    </div>
  </div>

  <div class="row justify-content-center top-buffer">
    <app-device-create (createDeviceItem)="onCreatedItem($event)"> </app-device-create>
  </div>

</div>
