<form #myForm="ngForm" name="CreateDeviceForm">
  <h1>Create Device</h1>

  <input type="text" name="serialNumber" placeholder="Serial number" value="" [(ngModel)]="device.serialNumber" required />
  <input type="text" name="description" placeholder="Description" value="" [(ngModel)]="device.description" required />

  <select id="DeviceTypes" [(ngModel)]="device.type" name="devicetype" required>
    <option disabled value="0" selected="selected">Select type</option>
    <option *ngFor="let type of deviceTypes;" [value]="type.id">
      {{type.name}}
    </option>
  </select>

  <button [disabled]="!myForm.form.valid" (click)="createDevice()" class="btn btn-success">Create</button>
</form>
