<div id="EmployeeDetails" class="container">
  <div class="" *ngIf="isDisplaying">
    <h1>Employee details</h1>
    <div *ngIf="employee">
      <div class="row p-2">
        <div class="col col-1">
          Name
        </div>
        <div class="col col-3">
          {{employee.name}}
        </div>
      </div>
      <div class="row p-2">
        <div class="col col-1">
          Email
        </div>
        <div class="col col-3">
          {{employee.email}}
        </div>
      </div>
      <h3>Employee devices</h3>
      <div id="Employeedevices" class="container">
        <div class="row p-2">
          <div class="col col-1">
            Devices
          </div>
          <div class="col col-3">
            <div class=" p-1">
              <div *ngIf="employee.devices.length == 0">
                None
              </div>

              <div *ngFor="let item of employee.devices">
                <span class="">
                  {{item.description}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row top-buffer p-2">
      <div class="col col-1">
        <button type="button" name="button" (click)="changeToEditForm()">Edit</button>
      </div>
    </div>
  </div>
</div>


<div class="" *ngIf="!isDisplaying">
  <div class="">
    <div *ngIf="employee">
      <app-employee-update [employee]="employee" (updateItem)="onUpdateItem($event)" (cancelUpdateItem)="onCancel($event)"></app-employee-update>
    </div>

  </div>
</div>
