<div id="EmployeeUpdate" class="container">
  <div class="row">

    <div class="col col-6">

      <h1>Update Employee</h1>
      <form>

        <div class="row p-2">
          <div class="col col-1">
            Name
          </div>
          <div class="col col-3">
            <input type="text" name="name" value="" [(ngModel)]="employee.name" />
          </div>
        </div>

        <div class="row p-2">
          <div class="col col-1">
            Email
          </div>
          <div class="col col-3">
            <input type="text" name="email" value="" [(ngModel)]="employee.email" />
          </div>
        </div>


        <div class="row p-2">
          <div class="col col-3">
            <button type="button" class="btn btn-primary" (click)="updateEmployee()">Update</button>
          </div>

        </div>
      </form>
    </div>

    <div class="col col-6">

      <div class="" *ngIf="employee.devices">
        <h3>Employee devices</h3>
        <form name="adddevicestoemployee">
          <div id="Employeedevices" class="container">
            <div class="row p-2">
              <div class="col col-3">
                Devices
              </div>
              <div class="col col-3">
                <div class=" p-1">
                  <div *ngFor="let item of employee.devices">
                    <span class="">
                      {{item.description}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col col-3">
                <button type="button" class="btn btn-primary" (click)="addDevice()">Add device</button>
              </div>
              <div class="col col-1">
                <select id="Devices" [(ngModel)]="selectedDeviceId" name="selectedDeviceId" required>
                  <option disabled value="0" selected="selected">Select device</option>
                  <option *ngFor="let device of devices;" [value]="device.id">
                    {{device.description}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </form>


      </div>
    </div>
    <div class="row p-2 justify-content-center">

      <div class="col col-3">
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>


</div>
