<form #myForm="ngForm" name="CreateEmployeeForm">
  <h1>Create employee</h1>
  <input #name="ngModel" type="text" name="name" placeholder="Name" value="" [(ngModel)]="employee.name" required />
  <input #email="ngModel" type="text" name="email" placeholder="Email" value="" [(ngModel)]="employee.email" required />
  <button type="submit" [disabled]="!myForm.form.valid" (click)="createEmployee()" class="btn btn-success">Create</button>

</form>
