<div id="EmployeeGrid" class="container">
  <div class="row">
    <div class="col col-3 header">
      Employee name
    </div>
    <div class="col col-3 header">
      Email
    </div>
    <div class="col col-1 header">
      Actions
    </div>
    <div class="col col-1 header">
    </div>
  </div>

  <div class="" *ngFor="let employee of employees">
    <div class="row body">
      <div class="col col-3">
        <p>{{employee.name}}</p>
      </div>
      <div class="col col-3">
        <p>{{employee.email}}</p>
      </div>
      <div class="col col-1">
        <button type="button" name="button" routerLink="/employees/{{employee.id}}">See more</button>
      </div>
      <div class="col col-1">
        <button type="button" name="button" (click)="deleteEmp(employee.id)">Delete</button>
      </div>
    </div>
  </div>

  <div class="row justify-content-center top-buffer">
    <app-employee-create (createItem)="onCreatedItem($event)"> </app-employee-create>
  </div>

</div>
