<div id="DeviceDetails" class="container">
  <div class="" *ngIf="isDisplaying">
    <h1>Device details</h1>
    <div *ngIf="device">
      <div class="row p-2">
        <div class="col col-2">
          Serial number
        </div>
        <div class="col col-3">
          {{device.serialNumber}}
        </div>
      </div>
      <div class="row p-2">

        <div class="col col-2">
          Device description
        </div>
        <div class="col col-3">
          {{device.description}}
        </div>
      </div>
      <div class="row p-2">

        <div class="col col-2">
          Type
        </div>
        <div class="col col-3">
          {{device.typeName}}
        </div>
      </div>

    </div>
  </div>
  <button type="button" name="button" (click)="changeToEditForm()">Edit</button>
</div>

<div id="DeviceEditDetails" class="container">
  <div class="" *ngIf="!isDisplaying">
    <div class="">
      Update Device
      <div *ngIf="device">
        <app-device-update [device]="device" (updateDeviceItem)="onUpdateItem($event)" (cancelDeviceUpdateItem)="onCancel($event)"></app-device-update>
      </div>
    </div>
  </div>
</div>
