<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">Capstore</a>
<div class="collapse navbar-collapse" id="navbarContent">
   <ul class="navbar-nav mr-auto">
     <li class="nav-item">
       <a class="nav-link" routerLink="/employees">Employees</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" routerLink="/devices">Devices</a>
     </li>
   </ul>
 </div>
</nav>
<router-outlet></router-outlet>
