<div id="DeviceUpdate" class="container">
  <div class="row">

    <div class="col col-6">

      <h1>Update Device</h1>
      <form>

        <div class="row p-2">
          <div class="col col-1">
             Serial number
          </div>
          <div class="col col-3">
            <input type="text" name="name" value="" [(ngModel)]="device.serialNumber" />
          </div>
        </div>

        <div class="row p-2">
          <div class="col col-1">
            Description
          </div>
          <div class="col col-3">
            <input type="text" name="description" value="" [(ngModel)]="device.description" />
          </div>
        </div>

        <div class="row p-2">
          <div class="col col-1">
            Type
          </div>
          <div class="col col-3">
            <select id="DeviceTypesUpdate" [(ngModel)]="device.type" name="type">
              <option disabled value="0" selected="selected">Select type</option>
              <option *ngFor="let type of deviceTypes;" [value]="type.id">
                {{type.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="row p-2">
          <div class="col col-3">
            <button type="button" class="btn btn-primary" (click)="updateDevice()">Update</button>
          </div>

        </div>
      </form>
    </div>


    <div class="row p-2 justify-content-center">
      <div class="col col-3">
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>


</div>
